# Python
*.py[cod]
__pycache__/
*.so

# Django
db.sqlite3
/media/
/staticfiles/
/*.log
*.pot
*.mo

# Virtual Environments
.env
.venv
venv/
ENV/
env/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.manifest
*.spec

# Distribution / packaging
*.lock
*.tar.gz
*.zip
*.whl

# PyInstaller
*.manifest
*.spec

# MyPy
.mypy_cache/

# migrations
*/migrations/*.py
!*/migrations/__init__.py