<!-- app.component.html -->
<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list>
          <ion-list-header>LiShared Menu</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item 
              [routerLink]="p.action ? null : [p.url]" 
              (click)="p.action ? handleMenuClick(p) : null"
              routerLinkActive="selected" 
              detail="false">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{p.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>