<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/welcome">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Funcionalidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="features-content">
  <div class="features-container">
    <!-- Resto do conteúdo existente -->
    <div class="features-list">
      <div class="feature-item">
        <h3>Criação de listas personalizadas de compras</h3>
      </div>
      <div class="feature-item">
        <h3>Compartilhamento em tempo real com amigos</h3>
      </div>
      <div class="feature-item">
        <h3>Permissões de visualização e edição</h3>
      </div>
      <div class="feature-item">
        <h3>Marcação de itens como comprados diretamente na lista compartilhada</h3>
      </div>
      <div class="feature-item">
        <h3>Adicione e organize suas compras de forma colaborativa</h3>
      </div>
    </div>

    <div class="about-section">
      <h2>Sobre o LiShared</h2>
      <p>
        LiShared é uma plataforma inovadora de compartilhamento de listas de compras, 
        criada para simplificar sua experiência de organização. Com LiShared, você e 
        seus amigos podem criar e colaborar em listas de forma sincronizada, onde quer que estejam.
      </p>
    </div>

    <div class="faq-section">
      <h2>Perguntas Frequentes (FAQs)</h2>
      <div class="faq-item">
        <h3>Como crio uma conta?</h3>
        <p>Basta clicar em "Cadastrar-se" e seguir as instruções.</p>
      </div>
      <div class="faq-item">
        <h3>Posso compartilhar minhas listas com qualquer pessoa?</h3>
        <p>Sim, desde que você tenha adicionado essa pessoa como amigo no LiShared.</p>
      </div>
      <div class="faq-item">
        <h3>É possível permitir que apenas visualizem minha lista?</h3>
        <p>Sim, você pode definir permissões de visualização ou edição ao compartilhar suas listas.</p>
      </div>
      <div class="faq-item">
        <h3>LiShared é um projeto open source?</h3>
        <p>Sim, LiShared é um projeto open source, e você pode contribuir para o seu desenvolvimento!</p>
      </div>
    </div>
  </div>
</ion-content>
