// src/app/styles/_variables.scss
:root {
  --primary-color: #0056b3;
  --secondary-color: #4CAF50;
  --background-color: #f0f0f0;
  --text-color: #333;
  --light-gray: #d3d3d3;
  --dark-gray: #a9a9a9;
}