{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiShared - Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'index' %}" class="logo">
                <span class="logo-text">LiShared</span>
            </a>
        </div>
    </header>

    <main>
        <div class="register-form">
            <h1>Cadastro</h1>
            <div id="messages" class="messages">
                {% if messages %}
                    {% for message in messages %}
                        <div class="{% if message.tags %}{{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <form id="registerForm" method="post">
                {% csrf_token %}
                <label for="username">Nome de Usuário:</label>
                <input type="text" id="username" name="username" required value="{{ username|default:'' }}">
                
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required value="{{ email|default:'' }}">
                
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
                
                <label for="confirmPassword">Confirmar Senha:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
                
                <button type="submit">Cadastrar-se</button>
            </form>
            <p class="login-link">Já possui conta? <a href="{% url 'login' %}">Faça login</a></p>
        </div>
    </main>
    <script src="{% static 'js/cadastro.js' %}"></script>
</body>
</html>